$white: #ffffff
$black: #000000
$bg-color: #F2F2F2
$red: #D0021B
$yellow: #F5A623
$blue: #4A90E2
$green: #7ED321
$gray1: #EBEBEB
$gray2: #9B9B9B

.navbar
    height: 70px
    background: #000000
    padding: 0px
    display: flex
    justify-content: left
    align-items: center
    p
        font-size: 24px
        color: $white
        line-height: 29px
        margin: auto 45px auto 42px
        &:last-child
            position: absolute
            right: 42px
            font-size: 16px
            color: $white
            line-height: 19px
            margin: 0px
    .tabs
        display: flex
        div
            width: 80px
            text-align: center
            font-size: 16px
            margin: auto 20px
            a
                color: $gray2
                padding: 20px 20px
                text-decoration: none
                &:hover, &:active, &:focus
                    color: $white
                    text-decoration: none
                    border-bottom: 4px solid white
.mainbody
    background: #F2F2F2
    padding: 30px 42px 42px
    .pagehead
        display: flex
        align-items: center
        margin-bottom: 20px
        flex-wrap: wrap
        justify-content: space-between
        p
            margin: 0px
            font-size: 24px
            line-height: 29px
            color: $black
        div
            span
                color: $gray2
                font-size: 16px
                line-height: 19px
                margin-right: 8px
                &:last-of-type
                    margin-right: 20px
            select
                border: none
                background-color: $bg-color
    .content
        > .myrow
            display: flex
            margin-bottom: 18px
            .box1
                padding: 30px 70px
                background-color: $white
                box-shadow: 0 0 10px 5px $gray1
                border-radius: 3px
                text-align: center
                width: calc((100% - 40px) /3 )
                margin-right: 20px
                &:last-of-type
                    margin: 0px
                p
                    display: inline-block
                    font-weight: bold
                    margin: 0px auto 16px
                    display: block
                    &:before
                        margin-right: 8px
                        font-size: 25px
                    &:first-child
                        font-size: 16px
                        color: $black
                        line-height: 19px
                    &:last-child
                        font-size: 36px
                        line-height: 44px
                        margin: 0px auto
                #revenue
                    color: $green
                #cost
                    color: $red
                #income
                    color: $blue
            #chart
                box-shadow: 0 0 10px 5px $gray1
                width: 100%
                height: 400px
            .box2
                height: 456px
                background-color: $white
                padding: 30px 40px
                margin-right: 20px
                width: calc((100% - 20px) /2)
                box-shadow: 0 0 10px 5px $gray1
                &:last-child
                    margin-right: 0px
                > p
                    font-size: 24px
                    line-height: 29px
                    color: $black
                    margin: 0px auto 30px
                .item
                    height: 90px
                    width: 100%
                    display: inline-block
                    line-height: 90px
                    border-bottom: 1px solid $gray1
                    position: relative
                    i
                        font-size: 45px
                        line-height: 90px
                        margin-right: 20px
                    .company
                        font-size: 16px
                        color: $gray2
                        line-height: 90px
                        display: inline-block
                    span
                        position: absolute
                        right: 0
                        font-size: 16px
                        &:first-of-type
                            right: 120px
                            font-size: 20px
                        > i
                            font-size: 16px
                            margin-right: 0px 
                            &:before
                                margin-right: 8px
                    > .red
                        color: $red
                    > .green
                        color: $green
                .imgitem
                    height: 116px
                    width: 100%
                    display: inline-block
                    border-bottom: 1px solid $gray1
                    position: relative
                    vertical-align: middle
                    img
                        height: 100px
                        clip: rect(0px,100px,100px,0px)
                        position: absolute
                        top: 8px
                        margin-right: 20px
                    div
                        position: absolute
                        p
                            margin: 0px
                        &.detail
                            left: 120px
                            top: 20px
                            p
                                font-weight: normal
                                font-size: 16px
                                color: $gray2
                                display: block
                                margin: 8px auto
                                &:before
                                    font-weight: bold
                                    margin-right: 8px
                                &:first-child
                                    color: $black
                                    font-size: 20px
                        &.price
                            right: 0px
                            top: 50px
                            text-align: right
                            p:last-of-type
                                font-size: 20px