$black: #000000
$white: #FFFFFF
$green: #50E3C2
$gray: rgba(0,0,0,0.30)
$lightgray: rgba(0,0,0,0.10)
$grid-x: 120px
$grid-y: 100px
$grid-cols: 8
$grid-rows: 20

.top-layer
    width: $grid-x * $grid-cols
    height: $grid-y * $grid-rows
    z-index: 1
    p
        margin: 0
    .tag
        font-size: 20px
        line-height: 24px
        color: $white
        background-color: $black
        text-align: center
        height: 27px
        width: 131px
        margin: 0px auto
    .title
        font-size: 72px
        line-height: 85px
        color: $black
        width: 420px
        margin: 5px auto 0px
        white-space: nowrap
        font-weight: bold

.grid-container
    display: grid
    grid-template-columns: repeat($grid-cols , $grid-x)
    grid-template-rows: repeat($grid-rows , $grid-y)
    .grid-item
        position: relative
        .img
            background-size: cover
        .itemtitle
            z-index: 1
            position: absolute
        .rect1
            border: 20px solid $green
            width: 200px
            height: 160px
            position: absolute
            z-index: -1
        .rect2
            background-color: $green
            width: 240px
            height: 200px
            position: absolute
            z-index: -1
        .num
            position: absolute
            width: 56px
        .pattern
            position: absolute
            width: 240px
            height: 100px
            background-image: url("https://hexschool.github.io/THE_F2E_Design/week4-product%20gallery/assets/pattern%20unit.svg")

.item1
    grid-area: 3 / 1 / span 4 / span 4
    .title2
        top: -14px
    .title3
        top: 300px
        left: 508px
        transform: rotate(90deg)
        transform-origin: 0 0
    .img
        background-image: url("https://images.unsplash.com/photo-1513827379601-9dba5099a3f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjF9&s=9b19616e232bd3897c5033df23102c6e&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb")
        width: 480px
        height: 400px
    .rect1
        top: -50px
        left: 300px
    .num
        top: 400px
    .pattern
        left: 60px
        top: 350px
        
.item2
    grid-area: 4 / 6 / span 2 / span 2
    .title2
        top: 214px
        left: 120px
    .title3
        top: -28px
        left: -15px
    .img
        background-image: url("https://images.unsplash.com/photo-1514632542677-48fae74a01b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cf412aceb1d689765e387d30fca7210a&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb")
        width: 240px
        height: 200px
    .rect1
        top: -100px
        left: 120px
    .rect2
        top: -50px
        left: 60px
    .num
        top: -100px
        left: calc(360px - 56px)    

.item3
    grid-area: 9 / 1 / span 2 / span 4
    .title2
        top: -48px
        left: calc(480px - 350px)
    .title3
        top: 200px
        left: 40px
    .img
        background-image: url("https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a0f994eef47e5fb1a67849703cc961b3&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb")
        width: 480px
        height: 200px
    .rect1
        top: 50px
        left: 300px    
    .rect2
        top: -50px
    .num
        top: 200px
        left: 480px
        
.item4
    grid-area: 9 / 7 / span 4 / span 2
    .title2:first-child
        top: 165px
        left: -48px
        transform: rotate(-90deg)
        transform-origin: 0 0
    .title3
        transform: rotate(90deg)
        transform-origin: 0 0
        top: -160px
        left: 200px
    .img
        background-image: url("https://images.unsplash.com/photo-1484516758160-69878111a911?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=39466d66952b133d5a5cff642b970d05&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb")
        width: 240px
        height: 400px
    .rect1
        top: -100px
        left: -60px
    .num
        top: calc(400px - 48px)
        left: -56px    
    .pattern
        top: 350px

.item5
    grid-area: 13 / 3 / span 2 / span 2
    .title2
        left: -240px
        top: 50px
    .title3
        top: 0px
        left: 240px
    .img
        background-image: url("https://images.unsplash.com/photo-1525448198276-222de3961638?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43fb25556cdbd191e520c7f28739e40d&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb")
        width: 240px
        height: 200px
    .rect1
        top: 150px
        left: -120px
        height: 60px !important    
    .num
        top: calc(200px - 48px)
        left: -120px
    .pattern
        top: -50px
        left: -180px
        
.item6
    grid-area: 15 / 5 / span 4 / span 4
    .title2
        top: -48px
        left: calc(480px - 371px)
    .title3
        top: 400px
        left: 170px
    .img
        background-image: url("https://images.unsplash.com/photo-1519406709381-c1f293304b28?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=98c497a29f229085d9574ee8b6eeef8c&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb")
        width: 480px
        height: 400px
    .rect1
        top: 250px
        width: 440px !important
    .rect2
        top: 200px
        left: -60px
    .num
        top: calc(200px - 48px)
        left: -56px
        
.item7
    grid-area: 17 / 1 / span 4 / span 2
    .title2:first-child
        left: 288px
        transform: rotate(90deg)
        transform-origin: 0 0
    .title3
        top: -28px
    .img
        background-image: url("https://images.unsplash.com/photo-1516914943479-89db7d9ae7f2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=63ff45d79414b3166b08b800a32018be&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb")
        width: 240px
        height: 400px
    .rect1
        top: -50px
        left: 60px
        height: 360px !important
    .rect2
        top: 200px
        left: 120px
    .num
        top: calc(400px - 48px)
        left: calc(360px - 56px)

.title2
    font-size: 48px
    line-height: 48px
    color: $black
    font-weight: bold
    position: relative
    white-space: nowrap
    &:before
        color: $gray
        top: -14px
        position: absolute
        height: 21px
        content: attr(text)
        overflow: hidden
    &:after
        color: $lightgray
        top: -21px
        left: 0px
        position: absolute
        height: 14px
        content: attr(text)
        overflow: hidden
.title3
    font-size: 24px
    line-height: 28px
    color: $black
    font-style: italic
    font-weight: bold
    position: absolute
    white-space: nowrap