$green: #50FF44
$gray: #F2F2F2
$black: #000000
$black80: rgba(0,0,0,80)
$black10: rgba(0,0,0,10)
$white: #ffffff
$white20: rgba(0,0,0,20)
$font: 'Noto Sans', 'Noto Sans TC', sans-serif

.mainbody
    background-color: $gray
    font-family: $font
    padding-bottom: 24px
.header
    text-align: center
    background-color: $black
    height: 74px
    padding: 16px auto
.content
    margin: 0 auto
    display: block
    width: 620px
    color: $black
    .infoblock
        float: right
        width: 50%
        .table
            padding: 16px 20px
            > .row
                display: flex
                height: 24px
                margin-bottom: 8px
        > .subtitle, > .detail
            margin-left: 20px
            margin-bottom: 8px
    .chapterblock
        .darkbg
            width: 181px
        .chapter
            height: 106px
            > .subtitle
                width: calc(100% - 48px)
                margin: auto 24px
                line-height: 42px
                &:first-child
                    margin-top: 11px
                &:hover
                    background-color: #000000
                    color: #ffffff
                    line-height: 42px
                    width: calc(100% - 24px)
                    padding: 0 0 0 24px
                    left: -24px
                    position: relative
    .detail
        font-size: 16px
        line-height: 24px
.viewpage
    margin: 0 auto
    display: block
    width: 780px
    background-color: $gray
    position: absolute
    top: 74px
    left: calc((100% - 780px) / 2)
    padding: 24px 0px
    > .row
        display: flex
        align-items: center
        margin-bottom: 24px
        > .title2
            margin-right: 20px
        select
            height: 35px
            width: 130px
            border: 2px solid
            font-size: 16px
            padding: 0px 16px
            line-height: 35px
            font-weight: bold
            &:last-of-type
                left: -2px
                position: relative
    .viewblock
        display: flex
        .change
            width: 80px
            text-align: center
            padding: 55% 0px
            &:hover
                background-color: $green
                cursor: pointer
            > .fas
                transform: scale(2.5)
                transform-origin: 50% 50%

.logo
    font-size: 36px
    color: $green
    line-height: 74px
    font-style: italic
    font-weight: bold
.title
    font-size: 36px
    line-height: 36px
    text-align: center
.title2
    font-size: 24px
    line-height: 24px
    font-weight: bold
.subtitle
    font-size: 20px
    line-height: 24px
    width: 92px
    font-weight: bold
.darkbg
    background-color: $black
    color: $white
    padding: 8px 0
    text-align: center


.img
    background-size: cover
.ad
    width: 620px
    margin: 24px auto
    .ad1
        height: 120px
        background-image: url("https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/ad-1.png")
    .ad2
        height: 120px
        background-image: url("https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/ad-2.png")
    .ad3
        height: 120px
        background-image: url("https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/ad-3.png")
.full
    width: 620px
    height: 930px
    background-size: contain
    margin: 0 auto
    
.cover
    width: calc(50% - 8px)
    height: 438px
    display: inline-block
    background-image: url("https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/comic%20cover.png")

.border
    background-color: $white
    border: 4px solid $black