$blue: #0275D8
$bluelight: #BEE1FF
$warn: #F5A623
$black: #000000
$white: #FFFFFF
$gray: #9B9B9B
$font: 'Noto Sans', 'Noto Sans TC', sans-serif
    
.page
    width: 460px
    height: 770px
    margin: 0 auto
    font-family: $font

.title
    font-size: 36px
    color: $black
    text-align: center
    line-height: 42px
.subtitle
    font-size: 24px
    color: $black
    text-align: center
    font-weight: lighter
    line-height: 28px
.form
    font-size: 20px
    color: $black
    line-height: 24px
.label
    font-size: 14px
    color: $black
    text-align: center
    line-height: 16px