doctype html
html
    head
        title #{title}
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        //- link(rel="stylesheet" href="/stylesheets/style.css")
        //- 思源黑體
        link(rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanstc.css") 
        //- font awesome
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
        //- Bootstrap
        //- link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css")
        //- script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js")
        
        //- React.js
        //- script(crossorigin  src="https://unpkg.com/react@16/umd/react.development.js")
        //- script(crossorigin  src="https://unpkg.com/react-dom@16/umd/react-dom.development.js")
        //- script(crossorigin  src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js")

        jQuery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        //- Moment
        //- script(src="https://cdn.jsdelivr.net/npm/moment@2.22.1/min/moment.min.js")
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js")

        //- Pagination
        //- script(src="/javascripts/jquery.twbsPagination.min.js")


    include navbar.pug