style.
    body {
        font-family: 'Noto Sans', 'Noto Sans TC', sans-serif;
        position: relative;
    }
    nav {
        display: flex;
        background-color: #ffe6e6;
        position: fixed;
        z-index: 5;
        width: 150px;
        flex-direction: column;
    }
    nav > a {
        margin: 10px 20px;
        text-decoration: none;
    }
    .myContainer {
        width: calc(100% - 190px);
        position: absolute;
        left: 150px;
        margin: 0px 20px;
    }

body

    nav
        a(href='/w0') F2E Register Check
        a(href='/w1') Todolist
        a(href='/w2') Filter
        a(href='/w3') Dashboard
        a(href='/w4') Grid
        a(href='/w5') Comic
        a(href='/w6') Validation
        a(href='/w7') CanvasGame


    .myContainer
        block content