extends layout

block content
    style.
        input {
            border:none;
            width: 100%;
            text-align: center;
            border-bottom: 1px solid gray;
            transition: all 0.3s ease-in-out
        }
        input:focus {
            border-bottom: 2px solid rgb(84, 81, 171, 0.5);
        }

    .d-flex(style='flex-direction:column;')
        .text-center.mx-auto(style='padding-top: 4em;')
            h3 目前報名人數
            .display-4.mb-2.text-primary#total(style='font-weight: bold;') ??
            .card.mb-5.border-info
                .card-header
                    h5 Check your register status
                .card-body
                    input#mail(type='email' placeholder="Your mail")
                .card-footer
                    button#send.btn.btn-primary Send

            h3 距離開始還有
            .display-4.mb-2#counter.text-info(style='font-weight: bold;')

        div#processing.my-3.text-center
            img(src="/images/processing2.gif" style="width:80px;")

        .modal.fade(data-backdrop='static' data-keyboard='false')
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        h6.modal-title Congratulations!
                    .modal-body.text-center
                        img(style='height:50px')
                        #nickName
                        .info.my-2.text-left(style="padding-left:30%;")
                            #message
                            #timeStamp
                            #skill
                        button.btn.btn-primary(data-dismiss="modal") Back

    script.
        $(document).ready(function(){
            $('#processing').hide()
            let domain = 'https://www.thef2e.com/api'
            
            fetch(domain + '/signUpTotal')
                .then(res => res.json())
                .then(data => $('#total').text(`= ${data.total} =`))
                .catch(err => console.error(err))

            let render = (data) => {
                $("#message, #nickName, #skill, #success, #timeStamp").text('')
                
                if (data.success) {
                    $(".modal img")[0].src = 'images/done.png'
                    $("#nickName").text('Hello, ' + data.nickName)
                    $("#skill").text('報名項目 ' + data.skill)
                    $("#timeStamp").text('報名日期 ' + moment(data.timeStamp).format('YYYY / MM / DD'))
                } else {
                    $(".modal img")[0].src = 'images/fail.png'
                }
                $("#message").text('報名狀態 ' + data.message)
                $('#processing').hide()
                $('.modal').modal('show')
            }
            $("#send").click(() => {
                $('#processing').show()
                let option = {
                    method: "POST",
                    body: JSON.stringify({ email: $("#mail").val() }),
                    headers: { 'content-type': 'application/json' }
                }
                fetch(domain+"/isSignUp",option)
                    .then(res => res.json())
                    .then(data => render(data))
                    .catch(err => console.error(err))
            })

            let counter = () => {
                let diff = moment.duration(1528084800000 - moment())
                $("#counter").text(`${diff.days()}:${diff.hours()}:${diff.minutes()}:${diff.seconds().toString().padStart(2,'0')}`)
            }

            setInterval(counter,1000)
        })