extends layout

block content

    style.
        .nav {
            width: 1024px;
            height: 76px;
            position: fixed;
            background-color: #4A90E2;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            align-content: center;
            top: 30px;
            z-index: 5;
        }
        .navtitle {
            font-family: Roboto-Medium;
            font-size: 24px;
            color: #FFFFFF;
            text-align: center;
            width: 220px;
            height: 28px;
            line-height: 28px;
        }
        .content {
            top: 76px;
            width: 1024px;
            background-color: #E1E1E1;
            height: calc(1220px - 76px);
            position: relative;
            padding: 22px 202px;
        }
        .addTaskBar {
            background: #FFFFFF;
            border: 2px solid #C8C8C8;
            border-radius: 5px;
            height:65px;
            width:620px;
            padding: 19px 33px;
            vertical-align: middle;
            color: #C8C8C8;
            margin-bottom:24px;
        }
        .addTaskBar p {
            margin-bottom: 0px;
            font-family: Roboto-Regular;
            font-size: 24px;
            text-align: left;
            display: inline;
            vertical-align: inherit;
            line-height: 28px;
        }
        .addTaskBlock {
            height:519px;
            width:620px;
            background: #F2F2F2;
            box-shadow: 0 4px 4px 0 #C8C8C8;
            margin-bottom:24px;
        }
        .addTaskBlock .title {
            line-height: 28px;
            background: #F2F2F2;
            border-radius: 5px 5px 0 0;
            height: 76px;
            padding: 24px 32px;
            border-bottom: 2px solid #C8C8C8;     
        }
        .addTaskBlock .title input {
            font-family: Roboto-Medium;
            font-size: 24px;
            border: none;
            background-color: inherit;
            width:80%;
        }
        .addTaskBlock .title span {
            float:right;
        }
        .addTaskBlock .body {
            padding: 24px 80px;
            height: 383px;
            display: grid;
            align-content: space-between;
        }
        .addTaskBlock .itemDetails {
            margin-bottom:0.5em
        }
        .addTaskBlock .itemDetails input {
            display:block;
        }
        .addTaskBlock .footer {
            display:flex;
        }
        .addTaskBlock button {
            border:none;
            width:50%;
            height:60px;
            font-family: Roboto-Regular;
            font-size: 24px;
            line-height: 28px;
            display: inline-block;
        }
        .cancelBtn {
            color: #D0021B;
            background-color: #FFFFFF;
        }
        .addBtn {
            color: #FFFFFF;
            background-color: #4A90E2;
        }
        textarea {
            resize: none;
        }
        label {
            font-family: Roboto-Medium;
            font-size: 20px;
            color: #000000;
            line-height:24px;
        }
        .far, .fas {
            margin-right:0.5em;
        }
        .todoItem {
            padding: 24px 32px 17px;
            background: #FFF2DC;
            height: 102px;
            font-family: Roboto-Medium;
            font-size: 24px;
            line-height: 28px
            color: #000000;
            margin-bottom:8px;
        }
         /* Customize the label (the container) */
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 24px;
            width: 24px;
            background-color: #eee;
        }
        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }
        /* When the checkbox is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #2196F3;
        }
        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }
        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        } 
        .todoItem .checkbox {
            height: 24px;
            width: 24px;
            background-color: #FFFFFF;
            position: absolute;
            left: 0;
        }
        .todoItem label {
            display:initial;
            position: relative;
            margin: 0;
            padding-left: 40px;
        }
        .todoItem .icon {
            float: right;
        }
        .todoItem .details {
            left: 40px;
            position: relative;
            font-size: 16px;
            line-height: 19px;
            color: #757575;
        }
        .todoItem span {
            margin-right:16px
        }

    .nav
        a.navtitle(href='#' view=0) My Tasks
        a.navtitle(href='#' view=1) In Progress
        a.navtitle(href='#' view=2) Completed

    .content

        .addTaskBar
            .fas.fa-plus.mr-2
            p Add Task

        .addTaskBlock
            .title
                input(type='text' placeholder='Type Something Here')
                span
                    .far.fa-star
                    .fas.fa-edit
            .body
                .itemDetails
                    label
                        .far.fa-calendar-alt
                        span Deadline
                    input#deadline(type='datetime-local' name='deadline')
                .itemDetails
                    label
                        .far.fa-file
                        span Files
                    input#files.form-control(type='file' name='files')
                .itemDetails
                    label
                        .far.fa-comment-dots
                        span Comment
                    textarea#comment.form-control(rows='3' name='comment')
            .footer
                button.cancelBtn
                    .fas.fa-times.mr-2
                    span Cancel
                button.addBtn
                    .fas.fa-plus.mr-2
                    span Add Task
        
        //- .todoItems
            .todoItem
                label.container Type Something Here
                    input(type="checkbox")
                    span.checkmark
                span.icon
                    .far.fa-star
                    .fas.fa-pencil-alt
                .details
                    span.far.fa-calendar-alt
                    span 5/14
                    span.far.fa-file
                    span.far.fa-comment-dots

        .todoItems(view=0) 
        .todoItems(view=1) 
        .todoItems(view=2) 

    script.
        //- title(string) / deadline(dt) / files / comment(string) / ontop(boolean) / status(1:progress / 2:completed)
        let mytasks = [
            {
                title: "cook",
                deadline: new Date(),
                files: null,
                comment: "buy eggs",
                ontop: false,
                status: 1
            },
            {
                title: "play switch",
                deadline: new Date(),
                files: null,
                comment: "奧德賽第5關",
                ontop: false,
                status: 2
            }
        ]

        localStorage.setItem('mytasks', JSON.stringify(mytasks))

        let view = 0
        $(`.todoItems[view!=${view}]`).hide()
        $('.addTaskBlock').hide()
        //- $(`.btn[view=${view}]`).toggleClass('btn-primary btn-disable')

        $(document).ready(function(){

            let tasks = JSON.parse(localStorage.getItem('mytasks'))

            function showTasks(StatusView) {
                let newtasks
                
                if (StatusView != 0) {
                    $('.card').hide()
                    newtasks = tasks.filter(task => task.status == StatusView)
                } else {
                    $('.card').show()
                    newtasks = tasks
                }
                
                newtasks.forEach(task => {

                    let todoItem = $(document.createElement("div")).addClass('todoItem')
                    
                    let label = $(document.createElement("label"))
                        .addClass('container')
                        .text(task.title)
                    let input = $(document.createElement("input")).attr('type','checkbox')
                    let checkmark = $(document.createElement("span")).addClass('checkmark')
                    label.append(input,checkmark)

                    let span = $(document.createElement("span")).addClass('icon')
                    let star = $(document.createElement("div")).addClass('far fa-star')
                    let pencil = $(document.createElement("div")).addClass('fas fa-pencil-alt')
                    span.append(star,pencil)

                    let details = $(document.createElement("div")).addClass('details')
                    let calendar = $(document.createElement("span")).addClass('far fa-calendar-alt')
                    let deadline = $(document.createElement("span")).text(task.deadline)
                    let file = $(document.createElement("span")).addClass('far fa-file')
                    let comment = $(document.createElement("span"))
                        .addClass('far fa-comment-dots')
                        .text(task.comment)
                    details.append(calendar,deadline,file,comment)

                    todoItem.append(label,span,details)

                    $(`.todoItems[view=${StatusView}]`).append(todoItem)
                })
            }

            showTasks(0)

            $("a").click(function(){
                let view = $(this).attr('view')
                $('.todoItems').hide()
                $(`.todoItems[view=${view}]`).show()
                $('.todoItems').empty()
                showTasks(view)
            })

            $('.addTaskBar').click(function(){
                $('.addTaskBlock').show()
                $(this).hide()
            })

            $('button').click(function(){
                $('.addTaskBlock').hide()
                $('.addTaskBar').show()
            })
        })
