extends layout

block content
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    style.
        .navbar {
            height: 92px;
            width: 1200px;
            background-color: #9013FE;
            padding: 24px 78px 24px;
            position: fixed;
            top: 30px;
            z-index: 5;
        }
        .navbar span {
            border-bottom: 1px solid #FFFFFF;
            left: 380px;
            position: absolute;
        }
        .navbar span i {
            transform: scale(1.25,1.25);
            color: white;
            margin-right: 20px;
        }
        .navbar span input {
            border: none;
            outline: none;
            background-color: transparent;
            color: white;
        }

        .mainbody {
            width: 1200px;
            background-color: #F2F2F2;
            height: 953px;
            padding: 24px 40px;
            display: flex;
            top: 92px;
            position: absolute;
        }

        .leftsection {
            height: 540px;
            width: 300px;
            top: 122px;
            position: fixed;
        }
        .block {
            background-color: #EBEBEB;
            padding: 24px 40px;
        }
        .block select {
            width:100%;
        }

        .location {
            height: 127px;
            border-bottom: 1px solid #D7D7D7;
        }
        .blockname {
            font-size: 20px;
            color: #000000;
            line-height: 24px;
            margin-bottom: 24px;
        }
        .date {
            height: 187px;
            border-bottom: 1px solid #D7D7D7;
        }
        .date p {
            margin: 0px;
            display: inline
        }
        .date input {
            width: 170px;
            margin-bottom: 8px;
            float: right;
        }
        .categories {
            height: 225px;
        }
        .categories ul {
            padding:0px;
        }
        .categories li {
            list-style-type: none;
        }
        .categories li > input {
            margin-right: 6px;

        }
        .rightsection {
            width: 780px;
            left: 340px;
            position: relative;
            scroll-behavior: smooth;
        }
        .head {
            margin-bottom: 24px;
            height: 75px;
        }
        .head > p {
            font-size: 24px;
            color: #000000;
            line-height: 28px;
            margin-bottom: 8px;
        }
        .head > .cat {
            border: 1px solid #9013FE;
            border-radius: 100px;
            font-size: 16px;
            line-height: 19px;
            color: #9013FE;
            margin-right: 8px;
            padding: 8px 16px;
            display: inline-block;
        }
        .head i {
            margin-left: 8px;
        }
        .item {
            margin-bottom: 24px;
            display:flex;
            height: 220px;
        }
        .item img {
            height: 220px;
            width: 220px;
            display: inline-block;
        }
        .item .itemblock {
            width: 560px;
            padding: 24px 20px;
            background: #FFFFFF;
            display: flex;
            flex-direction: column;
            align-content: space-between;
        }
        .item-title {
            font-size: 24px;
            color: #9013FE;
            line-height: 36px;
            margin-bottom:16px;

        }
        .item .itemblock > p {
            margin-bottom: 13px;
            height: 50px;
            overflow-y: hidden;
        }
        .item-describe {
            font-size: 16px;
            color: #000000;
            line-height: 24px;
            margin-bottom: 13px;
            display: flex;
            align-items: baseline;
        }
        .item-describe .holdername {
            font-size: 16px;
            color: #000000;
            line-height: 19px;
            margin-right: 20px;
        }
        .item-describe .category {
            font-size: 16px;
            color: #FFFFFF;
            text-align: center;
            background: #D7D7D7;
            border-radius: 100px;
            width: 130px;
            height: 24px;
        }
        .item-detail {
            display:flex;
            align-items: baseline;
        }
        .item-detail p {
            margin-right:20px;
            margin-bottom: 0px;
            font-size: 16px;
            color: #9B9B9B;
            line-height:19px;
        }
        .item-detail i {
            margin-right: 7px;
        }


    .navbar
        img(src="/images/w2_logo.png" alt="logo")
        span
            i.fas.fa-search
            input(type="text" name="query" placeholder="Explore your own activities")
    
    .mainbody
        .leftsection
            .block.location
                .blockname Location
                select(name="location")
            .block.date
                .blockname Date
                p from
                input(type="text")
                p to
                input(type="text")
            .block.categories
                .blockname Categories
                ul
                    li
                        input(type="checkbox" name="all")
                        span All
                    li
                        input(type="checkbox" name="entertainment")
                        span Entertainment
                    li
                        input(type="checkbox" name="food")
                        span Food
                    li
                        input(type="checkbox" name="outdoors")
                        span Outdoors

        .rightsection
            .head
                p#result Showing 0 results by…
                .cat Kaohsiung
                    i.far.fa-times-circle
                .cat Entertainment
                    i.far.fa-times-circle
            #items
            ul#pagenav.pagination.mt-4
    
    script(type='text/babel').

        function ItemList(props) {
            const items = props.items
            const listItems = items.map(item=>
                (
                    <div className='item'>
                        <img src={item.Picture1} alt="pic" />
                        <div className="itemblock">
                            <div className="item-title">{item.Name}</div>
                            <p>{item.Description}</p>
                            <div className="item-describe">
                                <div className="holdername">{item.Name}</div>
                                <div className="category">{item.Ticketinfo}</div>
                            </div>
                            <div className="item-detail">
                                <i className="fas fa-map-marker-alt" />
                                <p className="place">Kaohsiung City</p>
                                <i className="far fa-calendar-alt" />
                                <p className="daterange">{item.Opentime}</p>
                            </div>
                        </div>
                    </div>
                )
            )
            return listItems
        }
        
        $(document).ready(function(){

            var offset = 0,
                limit = 5
            
            getData(offset)
                .then(nrecords => {
                    //- console.log(nrecords)
                    renewPagination(nrecords)
                })

            function getData(offset) {
                let url="https://data.kcg.gov.tw/api/action/datastore_search?resource_id=92290ee5-6e61-456f-80c0-249eae2fcc97"
                return fetch(url+`&offset=${offset}&limit=${limit}`)
                    .then(data => data.json())
                    .then(json => {
                        console.dir(json)
                        ReactDOM.render(<ItemList items={json.result.records} />, document.getElementById('items'))
                        $("#result").text(`Showing ${json.result.total} results by…`)
                        return json.result.total
                    })
            }

            function renewPagination(nrecords) {
                var paginationOps = {
                    totalPages: nrecords/limit,
                    visiblePages: 8,
                    startPage: 1,
                    onPageClick: function (event, page) {
                        //- console.log('clicking: '+page)
                        offset = (page-1) * limit
                        getData(offset).then(nrecords => true)
                    }
                }
                $('#pagenav').twbsPagination(paginationOps)
            }

        })

    //- script.
        $(document).ready(function(){
        })