extends layout

block content
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/w3.css")
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")

    .navbar
        p Shoptime
        .tabs
            for tab in ['HOME','ORDERS','PRODUCT']
                div
                    a(href="#")= tab
        p ADMIN
    
    .mainbody
        .pagehead
            p OVERVIEW
            div
                span 2018/6/6
                span 
                    i.fas.fa-caret-right
                span 2018/6/13
                select
                    for option in ['Daily','Weekly','Monthly','Yearly']
                        option(value=option)= option 
        .content
            .myrow
                .box1
                    p.fas.fa-hand-holding-usd TOTAL REVENUE
                    p#revenue 54,540
                .box1
                    p.fas.fa-boxes TOTAL COST
                    p#cost 12,660
                .box1
                    p.fas.fa-money-bill NET INCOME
                    p#income 41,880
            .myrow
                #chart
            .myrow
                .box2
                    p Transaction Website
                    .list
                        .item
                            i.fab.fa-facebook-square
                            .company Facebook.com
                            span 45,836
                            span.green
                                i.fas.fa-arrow-up 20%
                        .item
                            i.fab.fa-google
                            .company google.com
                            span 23,582
                            span.green
                                i.fas.fa-arrow-up 12%
                        .item
                            i.fab.fa-slack
                            .company slack.com
                            span 2,489
                            span.red
                                i.fas.fa-arrow-down 15%
                        .item
                            i.fab.fa-wordpress
                            .company wordpress.com
                            span 1,057
                            span.red
                                i.fas.fa-arrow-down 30%
                .box2
                    p Latest Orders
                    .list
                        .imgitem
                            img(src="http://freedesignfile.com/upload/2017/04/Fashion-Asian-female-model-HD-picture.jpg", alt="pic1")
                            .detail
                                p Vintage T-shirt
                                p.fas.fa-clock 2018/6/13  13:42
                                p.fas.fa-male Belle Willis
                            .price
                                p Total
                                p 3,200
                        .imgitem
                            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg5LSjJ4EOTpSluACH_GLlg314Xr9Os_Iue1rNMUk-3kGBSUgt", alt="pic2")
                            .detail
                                p Cowboy Jacket
                                p.fas.fa-clock 2018/6/13  13:42
                                p.fas.fa-male Adrian Cummings
                            .price
                                p Total
                                p 2,800
                        .imgitem
                            img(src="http://www.fuchsia-star.com/wp-content/uploads/2018/01/IMG_0151-380x380.jpg", alt="pic3")
                            .detail
                                p Coach Coat
                                p.fas.fa-clock 2018/6/13  13:42
                                p.fas.fa-male Lura Holland
                            .price
                                p Total
                                p 1,630


    script.
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Sales', 'Expenses'],
                ['2004', 1000, 400],
                ['2005', 1170, 460],
                ['2006', 660, 1120],
                ['2007', 1030, 540]
            ]);

            var options = {
                title: 'Activity',
                //- legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart'));

            chart.draw(data, options);
        }