extends layout

block content
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/w4.css")

    .mainbody.grid-container
        .top-layer
            .tag
                p CCCLOTHES
            .title
                p MEN'S TOPS
            
        .grid-item.item1
            .itemtitle
                .title2(text="LINEN BLAZER") LINEN BLAZER
                .title2.num 01
                .title3 Men's outfit
            .img
            .rect1
            .pattern
        
        .grid-item.item2
            .itemtitle
                .title2(text="FREELIFT") FREELIFT
                .title2.num 02
                .title3 Men's basics
            .img
            .rect1
            .rect2
        
        .grid-item.item3
            .itemtitle
                .title2(text="SUPER SKINNY") SUPER SKINNY
                .title2.num 03
                .title3 Men's pattern shirts
            .img
            .rect1
            .rect2
        
        .grid-item.item4
            .itemtitle
                .title2(text="DENIM") DENIM
                .title2.num 04
                .title3 Men's cadual
            .img
            .rect1
            .pattern
        
        .grid-item.item5
            .itemtitle
                .title2(text="SWEATSHIRTS") SWEATSHIRTS
                .title2.num 05
                .title3 Men's jacket
            .img
            .rect1
            .pattern
        
        .grid-item.item6
            .itemtitle
                .title2(text="VINTAGE DENIM") VINTAGE DENIM
                .title2.num 06
                .title3 Men's classic
            .img
            .rect1
            .rect2
        
        .grid-item.item7
            .itemtitle
                .title2(text="EDITION") EDITION
                .title2.num 07
                .title3 Men's shirts
            .img
            .rect1
            .rect2

    script.