extends layout

block content
    link(rel="stylesheet" href="/stylesheets/w5.css")

    .mainbody
        .header
            .logo Comicomic
        .content
            .img.ad
                .ad1

            .img.cover.border
            .infoblock
                .darkbg
                    .title MY HEXSCHOOL
                .table
                    .row
                        .subtitle Genres
                        .detail Fusce/vehicula/dolor
                    .row
                        .subtitle Author
                        .detail Namae Shiranai
                    .row
                        .subtitle Status
                        .detail Ongoing
                    .row
                        .subtitle Rate
                        .detail
                            each val in [1,2,3,4,5]
                                .detail.fas.fa-star
                .subtitle Summary
                .detail
                    | If your banker breaks, you snap; if your apothecary by mistake sends you poison in your pills, you die.
                    br
                    | Therefore, I say, I saw that this situation of mine was the precise situation of every mortal that has this Siamese connexion with a plurality of other mortals.

            .img.ad
                .ad2
            
            .chapterblock
                .darkbg
                    .title2 All Chapters
                .chapter.border
                    .subtitle Chapter 1: The F2E Challenge Start!
                    .subtitle Chapter 2: Todo List is Going Crazy!

            .img.ad
                .ad3

        .viewpage
            .row
                .title2 My Hexschool
                select#select1
                    option Chapter1
                    option Chapter2
                select#select2
                    each val in [1,2,3,4,5,6]
                        option(value=val) Page #{val}
                p#back(style="margin:0 40px;cursor:pointer") Back
            .viewblock
                .change(value="-1")
                    .fas.fa-chevron-left
                .full
                .change(value="1")
                    .fas.fa-chevron-right
            .gallery


    script.

        var pages = {
            1:"https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-1.png",
            2:"https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-2.png",
            3:"https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-3.png",
            4:"https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-4.png",
            5:"https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-5.png",
            6:"https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-6.png"
        }

        $(".viewpage").hide()
        $(".full")[0].style["background-image"] = `url("${pages[1]}")`
        $(`#select2 option[value=1]`).attr("selected",true)
        checkEnd()

        $("#back").click(function(){
            $(".viewpage").hide()
        })

        $('.chapter > .subtitle').click(function(){
            $(".viewpage").show()
        })

        $("#select2").change(function(){
            checkEnd()
            let pageNum = $("#select2 option:selected").val()
            $(".full")[0].style["background-image"] = `url("${pages[pageNum]}")`
        })

        $(".change").click(function(){
            let value = parseInt($(this).attr('value'))
            let newPageNum = parseInt($("#select2 option:selected").val()) + value
            //- console.log(newPageNum)
            $("#select2 option:selected").attr("selected",false)
            $(`#select2 option[value=${newPageNum}]`).attr("selected",true)
            $(".full")[0].style["background-image"] = `url("${pages[newPageNum]}")`
            checkEnd()
        })

        function checkEnd() {
            $(".change").css("pointer-events","all")
            if ($("#select2 option:selected").val() == "6") {
                $(".fa-chevron-right").attr('disabled',true)
                $(".change").has(".fa-chevron-right").css("pointer-events","none")
            } 
            if ($("#select2 option:selected").val() == "1") {
                $(".fa-chevron-left").attr('disabled',true)
                $(".change").has(".fa-chevron-left").css("pointer-events","none")
            }
        }