.navbar {
  height: 70px;
  background: #000000;
  padding: 0px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.navbar p {
  font-size: 24px;
  color: #ffffff;
  line-height: 29px;
  margin: auto 45px auto 42px;
}
.navbar p:last-child {
  position: absolute;
  right: 42px;
  font-size: 16px;
  color: #ffffff;
  line-height: 19px;
  margin: 0px;
}
.navbar .tabs {
  display: flex;
}
.navbar .tabs div {
  width: 80px;
  text-align: center;
  font-size: 16px;
  margin: auto 20px;
}
.navbar .tabs div a {
  color: #9B9B9B;
  padding: 20px 20px;
  text-decoration: none;
}
.navbar .tabs div a:hover, .navbar .tabs div a:active, .navbar .tabs div a:focus {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 4px solid white;
}

.mainbody {
  background: #F2F2F2;
  padding: 30px 42px 42px;
}
.mainbody .pagehead {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mainbody .pagehead p {
  margin: 0px;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.mainbody .pagehead div span {
  color: #9B9B9B;
  font-size: 16px;
  line-height: 19px;
  margin-right: 8px;
}
.mainbody .pagehead div span:last-of-type {
  margin-right: 20px;
}
.mainbody .pagehead div select {
  border: none;
  background-color: #F2F2F2;
}
.mainbody .content > .myrow {
  display: flex;
  margin-bottom: 18px;
}
.mainbody .content > .myrow .box1 {
  padding: 30px 70px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
  text-align: center;
  width: calc((100% - 40px) /3 );
  margin-right: 20px;
}
.mainbody .content > .myrow .box1:last-of-type {
  margin: 0px;
}
.mainbody .content > .myrow .box1 p {
  display: inline-block;
  font-weight: bold;
  margin: 0px auto 16px;
  display: block;
}
.mainbody .content > .myrow .box1 p:before {
  margin-right: 8px;
  font-size: 25px;
}
.mainbody .content > .myrow .box1 p:first-child {
  font-size: 16px;
  color: #000000;
  line-height: 19px;
}
.mainbody .content > .myrow .box1 p:last-child {
  font-size: 36px;
  line-height: 44px;
  margin: 0px auto;
}
.mainbody .content > .myrow .box1 #revenue {
  color: #7ED321;
}
.mainbody .content > .myrow .box1 #cost {
  color: #D0021B;
}
.mainbody .content > .myrow .box1 #income {
  color: #4A90E2;
}
.mainbody .content > .myrow #chart {
  box-shadow: 0 0 10px 5px #EBEBEB;
  width: 100%;
  height: 400px;
}
.mainbody .content > .myrow .box2 {
  height: 456px;
  background-color: #ffffff;
  padding: 30px 40px;
  margin-right: 20px;
  width: calc((100% - 20px) /2);
  box-shadow: 0 0 10px 5px #EBEBEB;
}
.mainbody .content > .myrow .box2:last-child {
  margin-right: 0px;
}
.mainbody .content > .myrow .box2 > p {
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0px auto 30px;
}
.mainbody .content > .myrow .box2 .item {
  height: 90px;
  width: 100%;
  display: inline-block;
  line-height: 90px;
  border-bottom: 1px solid #EBEBEB;
  position: relative;
}
.mainbody .content > .myrow .box2 .item i {
  font-size: 45px;
  line-height: 90px;
  margin-right: 20px;
}
.mainbody .content > .myrow .box2 .item .company {
  font-size: 16px;
  color: #9B9B9B;
  line-height: 90px;
  display: inline-block;
}
.mainbody .content > .myrow .box2 .item span {
  position: absolute;
  right: 0;
  font-size: 16px;
}
.mainbody .content > .myrow .box2 .item span:first-of-type {
  right: 120px;
  font-size: 20px;
}
.mainbody .content > .myrow .box2 .item span > i {
  font-size: 16px;
  margin-right: 0px;
}
.mainbody .content > .myrow .box2 .item span > i:before {
  margin-right: 8px;
}
.mainbody .content > .myrow .box2 .item > .red {
  color: #D0021B;
}
.mainbody .content > .myrow .box2 .item > .green {
  color: #7ED321;
}
.mainbody .content > .myrow .box2 .imgitem {
  height: 116px;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #EBEBEB;
  position: relative;
  vertical-align: middle;
}
.mainbody .content > .myrow .box2 .imgitem img {
  height: 100px;
  clip: rect(0px, 100px, 100px, 0px);
  position: absolute;
  top: 8px;
  margin-right: 20px;
}
.mainbody .content > .myrow .box2 .imgitem div {
  position: absolute;
}
.mainbody .content > .myrow .box2 .imgitem div p {
  margin: 0px;
}
.mainbody .content > .myrow .box2 .imgitem div.detail {
  left: 120px;
  top: 20px;
}
.mainbody .content > .myrow .box2 .imgitem div.detail p {
  font-weight: normal;
  font-size: 16px;
  color: #9B9B9B;
  display: block;
  margin: 8px auto;
}
.mainbody .content > .myrow .box2 .imgitem div.detail p:before {
  font-weight: bold;
  margin-right: 8px;
}
.mainbody .content > .myrow .box2 .imgitem div.detail p:first-child {
  color: #000000;
  font-size: 20px;
}
.mainbody .content > .myrow .box2 .imgitem div.price {
  right: 0px;
  top: 50px;
  text-align: right;
}
.mainbody .content > .myrow .box2 .imgitem div.price p:last-of-type {
  font-size: 20px;
}

/*# sourceMappingURL=public/stylesheets/w3.css.map */
