.top-layer {
  width: 960px;
  height: 2000px;
  z-index: 1;
}
.top-layer p {
  margin: 0;
}
.top-layer .tag {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #000000;
  text-align: center;
  height: 27px;
  width: 131px;
  margin: 0px auto;
}
.top-layer .title {
  font-size: 72px;
  line-height: 85px;
  color: #000000;
  width: 420px;
  margin: 5px auto 0px;
  white-space: nowrap;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 120px);
  grid-template-rows: repeat(20, 100px);
}
.grid-container .grid-item {
  position: relative;
}
.grid-container .grid-item .img {
  background-size: cover;
}
.grid-container .grid-item .itemtitle {
  z-index: 1;
  position: absolute;
}
.grid-container .grid-item .rect1 {
  border: 20px solid #50E3C2;
  width: 200px;
  height: 160px;
  position: absolute;
  z-index: -1;
}
.grid-container .grid-item .rect2 {
  background-color: #50E3C2;
  width: 240px;
  height: 200px;
  position: absolute;
  z-index: -1;
}
.grid-container .grid-item .num {
  position: absolute;
  width: 56px;
}
.grid-container .grid-item .pattern {
  position: absolute;
  width: 240px;
  height: 100px;
  background-image: url("https://hexschool.github.io/THE_F2E_Design/week4-product%20gallery/assets/pattern%20unit.svg");
}

.item1 {
  grid-area: 3/1/span 4/span 4;
}
.item1 .title2 {
  top: -14px;
}
.item1 .title3 {
  top: 300px;
  left: 508px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.item1 .img {
  background-image: url("https://images.unsplash.com/photo-1513827379601-9dba5099a3f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjF9&s=9b19616e232bd3897c5033df23102c6e&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
  width: 480px;
  height: 400px;
}
.item1 .rect1 {
  top: -50px;
  left: 300px;
}
.item1 .num {
  top: 400px;
}
.item1 .pattern {
  left: 60px;
  top: 350px;
}

.item2 {
  grid-area: 4/6/span 2/span 2;
}
.item2 .title2 {
  top: 214px;
  left: 120px;
}
.item2 .title3 {
  top: -28px;
  left: -15px;
}
.item2 .img {
  background-image: url("https://images.unsplash.com/photo-1514632542677-48fae74a01b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cf412aceb1d689765e387d30fca7210a&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
  width: 240px;
  height: 200px;
}
.item2 .rect1 {
  top: -100px;
  left: 120px;
}
.item2 .rect2 {
  top: -50px;
  left: 60px;
}
.item2 .num {
  top: -100px;
  left: calc(360px - 56px);
}

.item3 {
  grid-area: 9/1/span 2/span 4;
}
.item3 .title2 {
  top: -48px;
  left: calc(480px - 350px);
}
.item3 .title3 {
  top: 200px;
  left: 40px;
}
.item3 .img {
  background-image: url("https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a0f994eef47e5fb1a67849703cc961b3&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
  width: 480px;
  height: 200px;
}
.item3 .rect1 {
  top: 50px;
  left: 300px;
}
.item3 .rect2 {
  top: -50px;
}
.item3 .num {
  top: 200px;
  left: 480px;
}

.item4 {
  grid-area: 9/7/span 4/span 2;
}
.item4 .title2:first-child {
  top: 165px;
  left: -48px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.item4 .title3 {
  transform: rotate(90deg);
  transform-origin: 0 0;
  top: -160px;
  left: 200px;
}
.item4 .img {
  background-image: url("https://images.unsplash.com/photo-1484516758160-69878111a911?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=39466d66952b133d5a5cff642b970d05&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
  width: 240px;
  height: 400px;
}
.item4 .rect1 {
  top: -100px;
  left: -60px;
}
.item4 .num {
  top: calc(400px - 48px);
  left: -56px;
}
.item4 .pattern {
  top: 350px;
}

.item5 {
  grid-area: 13/3/span 2/span 2;
}
.item5 .title2 {
  left: -240px;
  top: 50px;
}
.item5 .title3 {
  top: 0px;
  left: 240px;
}
.item5 .img {
  background-image: url("https://images.unsplash.com/photo-1525448198276-222de3961638?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43fb25556cdbd191e520c7f28739e40d&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
  width: 240px;
  height: 200px;
}
.item5 .rect1 {
  top: 150px;
  left: -120px;
  height: 60px !important;
}
.item5 .num {
  top: calc(200px - 48px);
  left: -120px;
}
.item5 .pattern {
  top: -50px;
  left: -180px;
}

.item6 {
  grid-area: 15/5/span 4/span 4;
}
.item6 .title2 {
  top: -48px;
  left: calc(480px - 371px);
}
.item6 .title3 {
  top: 400px;
  left: 170px;
}
.item6 .img {
  background-image: url("https://images.unsplash.com/photo-1519406709381-c1f293304b28?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=98c497a29f229085d9574ee8b6eeef8c&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
  width: 480px;
  height: 400px;
}
.item6 .rect1 {
  top: 250px;
  width: 440px !important;
}
.item6 .rect2 {
  top: 200px;
  left: -60px;
}
.item6 .num {
  top: calc(200px - 48px);
  left: -56px;
}

.item7 {
  grid-area: 17/1/span 4/span 2;
}
.item7 .title2:first-child {
  left: 288px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.item7 .title3 {
  top: -28px;
}
.item7 .img {
  background-image: url("https://images.unsplash.com/photo-1516914943479-89db7d9ae7f2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=63ff45d79414b3166b08b800a32018be&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
  width: 240px;
  height: 400px;
}
.item7 .rect1 {
  top: -50px;
  left: 60px;
  height: 360px !important;
}
.item7 .rect2 {
  top: 200px;
  left: 120px;
}
.item7 .num {
  top: calc(400px - 48px);
  left: calc(360px - 56px);
}

.title2 {
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  font-weight: bold;
  position: relative;
  white-space: nowrap;
}
.title2:before {
  color: rgba(0, 0, 0, 0.3);
  top: -14px;
  position: absolute;
  height: 21px;
  content: attr(text);
  overflow: hidden;
}
.title2:after {
  color: rgba(0, 0, 0, 0.1);
  top: -21px;
  left: 0px;
  position: absolute;
  height: 14px;
  content: attr(text);
  overflow: hidden;
}

.title3 {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  white-space: nowrap;
}

/*# sourceMappingURL=public/stylesheets/w4.css.map */
