.page {
  width: 460px;
  height: 770px;
  margin: 0 auto;
  font-family: "Noto Sans", "Noto Sans TC", sans-serif;
}

.title {
  font-size: 36px;
  color: #000000;
  text-align: center;
  line-height: 42px;
}

.subtitle {
  font-size: 24px;
  color: #000000;
  text-align: center;
  font-weight: lighter;
  line-height: 28px;
}

.form {
  font-size: 20px;
  color: #000000;
  line-height: 24px;
}

.label {
  font-size: 14px;
  color: #000000;
  text-align: center;
  line-height: 16px;
}

/*# sourceMappingURL=public/stylesheets/w6.css.map */
